
body{
    margin: 20px;
    background-color: #3f3f3f;
    /* font: medium;
    font-family: monospace; */
}

#header{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

#logo{
    color: #00c41d;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    display: flex;
}

a{
    text-decoration: none;
    color: rgb(240, 240, 240);
}

a:hover{
    color: rgb(111, 111, 111);
}

a::after{
    color: rgb(31, 31, 31);
}